<!DOCTYPE html>
<html>
<head>

	<title>Home Page</title>

</head>
<body>
<center>
<h1>This is my First HTML Page in Django</h1>
<h2>This is my First HTML Page in Django</h2>
</center>
<h3>This is my First HTML Page in Django</h3>
<h4>This is my First HTML Page in Django</h4>
<p>Hello Good Morning to all <br> welcome to django class</p>

<h3>Lists Examples</h3>
<ul>
	<li>Django</li>
	<li>Flask</li>
	<li>Web2Py</li>
	<li>Bottle</li>
</ul>
<ol>
	<li>Python</li>
	<li>Java</li>
	<li>C++</li>
	<li>.net</li>
</ol>
<dl>
	<dt>Languages</dt>
	<dd>Python,Java,C++,C,.net</dd>
	<dt>Framworks</dt>
	<dd>Django,Flask,Bootle,Web2py</dd>
</dl>
<a href="{% url 'table' %}">Table Page</a>
</body>
</html>