<!DOCTYPE html>
<html>
<head>
	<title>Table Page</title>
</head>
<body>
	<h1>Table Example</h1>
	<table border="1">
		<thead>
			<th>SNO</th>
			<th>NAME</th>
			<th>College Name</th>
			<th>Email</th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Sinivas</td>
				<td>SACET</td>
				<td>@gmail.com</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Viswanth</td>
				<td>QISCET</td>
				<td>@apssdc.in</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Gireesha</td>
				<td>QISCET</td>
				<td>@apssdc.in</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Anil</td>
				<td>QIIT</td>
				<td>@apssdc.in</td>
			</tr>
		</tbody>
	</table>

	<a href="{% url 'f' %}">Forms Page</a>

</body>
</html>