{% extends 'accounts/base.html'%}

{% block content%}

<div class="container mt-3 col-md-4 card card-body bg-primary">
	<h1 class="text-danger text-center">ChangePassword</h1>

	<form action="#" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label for="old">OldPassword *</label>
			<input type="password" name="oldpwd" class="form-control" placeholder="enter old *****" id="old" required>
		</div>

		<div class="form-group">
			<label for="new">NewPassword *</label>
			<input type="password" name="newpwd" class="form-control" placeholder="enter new ******" id="new" required>
		</div>

		<div class="form-group">
			<label for="con">Re-enterPassword *</label>
			<input type="password" name="conpwd" class="form-control" placeholder="enter conrim ***" id="con" required>
		</div>

		<div class="text-center">
			<input type="submit" value="Change" class="btn btn-outline-warning btn-lg mb-3">
		</div>
	</form>
</div>
{% endblock %}